.is-done-label {
  text-align: center;
  display: block;
  margin: 20px 0;
}

.is-done-input {
  vertical-align: middle;
  margin-left: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

