.auth-component__error-message {
  color: red;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
  animation: shake 1s ease 0s 1 normal forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.button-container {
  text-align: center;
}